body {
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1605958610903-43aa1dfc9697?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
}

.hunter-container {
    position: relative;
    border: 1px solid rgb(248, 6, 99);
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    background-image: url(https://images.unsplash.com/photo-1553286158-5f5dac259bb0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
}

#submit {
    width: 200px;
    height: 100px;
}

#hunter {
    position: relative;
    display: inline-block;
    flex-direction: row;
    gap: 10px;
    width: 200px;
    height: 70px;
    text-align: center;
    margin: auto;
    
}
.delete {
    width: 100px;
    background-color: blue;
}

.edit-btn {
    width: 100px;
    background-color: red;
}


#form-button {
    width: 100px;
}
.header {
    text-align: center;
    color: snow;
}